@import '../../mixins.scss';

a {
    vertical-align: top;
    width: calc(16% - 24px);
    padding: 8px 12px;
    text-align: center;
    color: #ccc;
    text-decoration: none;
    border: 1px solid #26948f;
    margin-right: 12px;
    font-size: 1.6em;
    &:hover{
        background-color: #333;
    }
}
.force-area{
    padding:16px;
    background-color:rgba(25, 193, 223, 0.2);
    margin-bottom: 355px;
}