@import '../../mixins.scss';
.player-form {
    padding-left:10px;
}

.axe-header {
    padding-left:10px;
}

.begin-button {
    @include mobile {
        width: 90%;
        height: 64px;        
    }
    @include tablet {
        padding: 12px 64px;
    }
    
    font-size: 1.8em;
    margin-top: 38px;
}

.keep-score {
    padding-left: 10px;
}

.width-1 {
    margin: 18px 12px; 
    font-size: 18px;
}

.score-wrapper {
    display:inline-block;
    width: 40%;
    vertical-align: top;
}

.axe-label {
    font-size: 24px;
    margin-top: 48px;
}

.name-label {
    margin-top: 24px;
    font-size: 24px;
}

.condition-area {
    padding-bottom: 100px;
}