<div class="container">
<header class="header">
    <h1>Kevin Dornellas</h1>
    <nav>
    <input type="checkbox" id="checkbox_toggle" [checked]="menuOpen"/>
      <div class="nav-container">
        <a href="/">Home</a>
        <a href="/study/">Study</a>
        <a href="/tsprob/">TSProb</a>
        <a href="/dnd/">DnD</a>
        <a href="/axes/">Axes</a>
      </div>
      <label htmlFor="checkbox_toggle" class="hamburger" (click)="toggleMenu()" >
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
      </label>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
