
@import '../mixins.scss';

.input-wrapper {
    display:inline-block;
    margin:0px 4px;
}

.hidden {
    visibility:hidden;
}
.radio {
    padding: 4px;
    
}
.skills-label {
    font-size: 1.4em
}
.condition-area {
    padding-top:8px;
    background-color:rgba(20, 102, 64, 0.2);
    padding-bottom: 8px;
}
.species-area {
    padding-top:8px;
    background-color:rgba(224, 30, 198, 0.2);
}
.equipment-area {
    padding-top:8px;
    background-color:rgba(19, 75, 42, 0.2);
}
.force-area{
    padding-top:8px;
    background-color:rgba(25, 193, 223, 0.2);
    margin-bottom: 355px;
}
.feats-area {
    padding-top:8px;
    background-color:rgba(136, 153, 38, 0.2);
}
.talents-area {
    padding-top:8px;
    background-color:rgba(10, 228, 57, 0.2);
}
.weapons-area{
    padding-top:8px;
    background-color:rgba(228, 97, 10, 0.2);
}
.armor-area{
    padding-top:8px;
    background-color:rgba(223, 25, 85, 0.2);
}
.header-area {
    padding-top :8px;
    background-color:rgba(255,255,255,.2);
}

.stats-area {
    padding-top :8px;
    background-color:rgba(171, 197, 21, 0.2);
}

.def-area{
    padding-top :8px;
    background-color:rgba(25, 124, 218, 0.2);
}

.mat-input-element {
    width:100% !important;
} 

.full-width {
    width:100%;
}
.width-1 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(8.333% - 8px)
    }
}
.width-2 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(16.666% - 8px);
    }
}
.width-3 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(24.999% - 8px);
    }
}
.width-4 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(33.32% - 8px);
    }
}
.width-5 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(41.667% - 8px);
    }
}

.width-6 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(49.998% - 8px);
    }
}
.width-7 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(58.331% - 8px);
    }
}

.width-8 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(66.66% - 8px);
    }
}
.width-9 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(74.99% - 8px);
    }
}
.width-10 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(83.32% - 8px);
    }
}
.width-11 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(91.65% - 8px);
    }
}
.width-12 {
    @include mobile {
        width:100%;
    }
    @include tablet {
        width: calc(99.98% - 8px);
    }
}

.section-label {
    color: #ccc;
    font-size: 1.8em;
    padding-top:4px;
    padding-left: 4px;
}
