
<div class="header-area">
    <div class="input-wrapper" *ngFor="let control of characterModel.headers; let i = index;" [ngClass]="control.width">
        <mat-form-field class="full-width"   appearance="fill">
            <mat-label>{{control.name}}</mat-label>
            <input name="{{control.name + i}}" matInput (change)="change(i, $this)" [(ngModel)]="characterModel.headers[i].value" [ngClass]="control.width">
        </mat-form-field>
    </div>
</div>
<div class="stats-area">
    <div class="input-wrapper" *ngFor="let control of characterModel.stats; let i = index;" [ngClass]="control.width">
        <mat-form-field class="full-width"   appearance="fill">
            <mat-label>{{control.name}}</mat-label>
            <input name="{{control.name + i}}" matInput (change)="change(i, $this)" [(ngModel)]="characterModel.stats[i].value" [ngClass]="control.width" [readonly]="control.readOnly">
        </mat-form-field>
    </div>
</div>
<div class="def-area">
    <div class="input-wrapper" *ngFor="let control of characterModel.defense; let i = index;" [ngClass]="control.width">
        <mat-form-field class="full-width"   appearance="fill">
            <mat-label>{{control.name}}</mat-label>
            <input name="{{control.name + i}}" matInput (change)="change(i, $this)" [(ngModel)]="characterModel.defense[i].value" [ngClass]="control.width" [readonly]="control.readOnly">
        </mat-form-field>
    </div>
</div>