@import '../mixins.scss';
.resume-container {
    color:#ccc;
    border: 2px solid #8e1515;
    margin: 8px;
    padding: 8px;
    font-size: 18px;
    @include tablet {
        margin: 16px;
        padding: 16px;
    }    
    .section-header {
        margin-top: 18px;
    }
}
.header-container {
    margin-bottom: -22px;
    position: relative;
    width: max-content;
    margin-left: 18px;
    @include tablet {
        margin-bottom: -30px;
        margin-left:26px;
    }
    z-index: 7;
    position: relative;
    width: max-content;
    margin-left:18px;
    .resume-title { 
        
        @include mobile {
            font-size: 1.2em;
        }
        @include tablet {
            font-size: 1.4em;
        }
        @include desktop {
            font-size: 1.6em;
        }
       
        color: #ccc;
        background-color: #333;
        display:inline-block;
        padding: 0 4px;
        margin: 16px 0 0 0;     
    }
}
.skills-container {
    color:#ccc;
    width: 100%;
}

.resume-wrapper {
    display:inline-block;
    max-width: 70%;
    vertical-align: top;
    @include mobile {
        display:block;
        max-width: 100%;
    }   
}

.skills-wrapper {
    display:inline-block;
    width: 30%;
    vertical-align: top;
    @include mobile {
        display:block;
        width: 100%;
        margin-left:8px;
    }  
    label {
        font-size: 16em;
    }
}

