<div class="resume-wrapper">
    <div class="header-container">
        <h2 class="resume-title">Director of Software Engineering</h2>
    </div>
    <div class="resume-container">
        
        <h4 class="section-header">Overview</h4>
        <p>
            I am a Director of Software Engineering with ~20 years of experience in technology. I started out as a Network Administrator in the United States Marine Corps.
            Over the last 5 years I have been focused on leadership, security, and cloud technology. I enjoy continuous learning, I always have at least 1 book I am actively reading.
            In my current role, we are building a brand new application. I work on the architecture team, manage our AWS account, act as our security Analyst/Engineer, 
            while also training, mentoring, and managing 3 teams. I have a habit of seeing problems or something done improperly and I have to address it, I then direct work to the 
            correct parties.
        </p>
        <h4 class="section-header">Key Career Experience</h4>
        <ul>
            <li>Built, trained, and manage 3 high performing agile development teams. Including 1 TechOps Team.</li>
                <ul>
                    <li>I believe in training well rounded "T" shaped developers.</li>
                    <li>I am also a huge proponent of leadership development, many of the developers I have trained are now leading high performing development teams of their own.</li>
                    <li>Development teams include 2 platform development teams, and the entire department's "TechOps" team.</li>
                    <li>Even though I have moved into a director role, I maintain many of my technical skills so that I can properly lead the teams and remove their blockers.</li>
                    <li>Changing an organization's culture is very difficult, I have been successful in bringing a DevSecOps culture to the entire project.</li>
                    <li>I have successfully interviewed over 200 developers, and refined my process through that experience.</li>
                </ul>
            <li>Security - I am constantly training in security, mostly focused on ensuring confidentiality, integrity, and availability in cloud, organizational maturity, and networking.</li>
            <li>AWS – responsible for the security, financial forecast, and minimum training for access levels.</li>
            <li>Web - building highly extensible, maintainable, independently deployable, and resilient microservices. </li>
            <li>Architecture - As part of the Architecture team I focus on organizational maturity, security, and cloud infrastructure.</li>
            <li>Customers - I am responsible for getting our product through any potential customer's security review process. I also evaluate viable and secure implementations for sharing data between two agencies.</li>
        </ul>
        <h4 class="section-header">Professional Experience</h4>
        <ul>
            <li>IHS Markit - Director of Software Engineering (July 2020 - present)</li>
            <li>Argus International - Development Team Lead and Individual Contributor (2 years)</li>
            <li>RSI – Senior Consultant, Development Team Lead / Senior Programmer Analyst (2 years 7 months)</li>
            <li>Wall Colmonoy Corporation– IT/Developer (1 year)</li>
            <li>NewsCastic – Software Developer (1.5 year)</li>
            <li>Fusion Trading – Software Developer(4.5 years)</li>
            <li>United States Marine Corps – Network Administrator(5 Years)</li>
        </ul>
        <h4 class="section-header">Education</h4>
        <ul>
            <li>WGU - MS, Cyber Security (50%)</li>
            <li>NMSU – BS Information Communication Technology</li>
            <li>CNM – AAS Computer Programming</li>
        </ul>
        <h4 class="section-header">Certifications </h4>
        <ul>
            <li>SEO Certification</li>
            <li>A + Certification</li>
        </ul>
    </div>
</div>
<div class="skills-wrapper">
    <div class="skills-container">
        <div *ngFor="let section of skills">
            <div class="skill-header-container"><h4  class="skill-header">{{section.title}}</h4></div>
            <app-skill *ngFor="let skill of section.skills" [skill]="skill">            
            </app-skill>
        </div>
    </div>
</div>


