@import '../mixins.scss';

a {
    color: #a0a0a0;
    padding: 8px 12px;
    background-color: black;
    border: 1px solid #26948f;
    font-size: 1.6em;
}

div {    
    margin-top: 24px;
    margin-left: 16px;
}